@model IntegratedSystems.Domain.DTO.CenterDetailsDTO

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>VaccinationCenter</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.vaccCenter.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.vaccCenter.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.vaccCenter.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.vaccCenter.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.vaccCenter.MaxCapacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.vaccCenter.MaxCapacity)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.vaccCenter.Id">Edit</a> |
    <a asp-action="ScheduleVacination" asp-route-id="@Model?.vaccCenter.Id">Schedule vaccination</a> |
    <a asp-action="Index">Back to List</a>

    <table class="table">
        <thead>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Date Taken</th>
        <th>Center</th>
        <th>Certificate</th>
        </thead>
        <tbody>
            @{
                var i = 0;
                foreach (var item in Model.vaccines)
                {



                    <tr>
                        <td>
                            @{
                                i = i + 1;
                                <p>@i</p>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PatientFor.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PatientFor.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateTaken)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Center.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Certificate)
                        </td>
                    </tr>

                }
            }
        </tbody>
    </table>
</div>